footer {
    @include fullwidth();
    padding: abs($number: 50px) abs($number: $null) abs($number: 23px) abs($number: $null);
    background-color: #003663;
    position: relative;
    text-align: center;
    color: #fff;
    font-size: abs($number: 16px);
    font-family: $robolt;
    &:before{
        background-image: url(../images/top-footer-border.png);
        background-repeat: repeat-x;
        background-position: left top;
        content: '';
        float: left;
        width: abs($number: $full);
        height: abs($number: 15px);
        position: absolute;
        left: abs($number: $null);
        top: abs($number: $null);
    }

    &:after{
        background-image: url(../images/bottom-footer-border.png);
        background-repeat: repeat-x;
        background-position: left top;
        content: '';
        float: left;
        width: abs($number: $full);
        height: abs($number: 15px);
        position: absolute;
        left: abs($number: $null);
        bottom:abs($number: $null);

    } 
    p{
        &:last-child{
            margin-bottom: abs($number: $null);
        }
        a{
            display: inline-block;
            background-color: #26577e;
            border-radius: abs($number: 50%);
            height: abs($number: 60px);
            width: abs($number: 60px);
            margin: abs($number: $null) abs($number: 5px);
            color: $white;
            line-height: abs($number: 60px);
            font-size: abs($number: 26px);
            transition: all abs($number: .3s) ease-in-out;
            @media #{$sm}{
                height: abs($number: 40px);
                width: abs($number: 40px);
                line-height: abs($number: 40px);
                font-size: abs($number: 17px);
            }
            &:hover{
                color: $blue;
                background: $white;
            }
        }
    }
}