header {
    float: left;
    width: abs($number: 100%);
    margin-top: abs($number: 60px);
    background-image: url(../images/header-pattern.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    padding-bottom: abs($number: 39px);

    .navbar-brand {
        padding: abs($number: 0);
    }

    nav {
        ul {
            @media #{$md} {
                background-color: #f9bf03;
                border-top: solid abs($number: 3px) #d20959;
                margin-top: abs($number: 15px) !important;
            }

            li {
                background-image: url(../images/nav-left.png);
                background-position: left top;
                background-repeat: no-repeat;
                float: left;
                margin-left: abs($number: 8px);
                position: relative;

                @media #{$md} {
                    background-image: none;
                }

                a {
                    padding: abs($number: 6px) abs($number: 35px);
                    background-image: url(../images/nav-right.png);
                    background-position: right top;
                    background-repeat: no-repeat;
                    float: left;
                    text-decoration: none;
                    font-family: "Roboto Condensed Bold";
                    color: #ec1165;
                    font-size: abs($number: 25px);

                    @media #{$md} {
                        background-image: none;
                        width: abs($number: 100%);
                        text-align: center;
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }
                &:hover{
                    .dropdown-menu {
                        display: block;
                    }
                }
                .dropdown-menu {
                    display: none;
                    width: abs($number: 250px);
                    li{
                        background-image: none;
                        width: abs($number: 100%);
                        float: left;
                        margin: abs($number: 0);
                        a{
                            background-image: none;
                            width: abs($number: 100%);
                            float: left;
                            padding: abs($number: 10px) abs($number: 15px);
                            font-family: $roboc;
                            font-size:abs($number: 18px)
                        }
                        &:hover{
                            a{
                                background-color: $secondary;
                                color: $white;
                            }
                        }
                    }
                }

                &.active,
                &:hover {
                    a {
                        text-decoration: none;
                        color: #2e3192;
                    }
                }
            }
        }
    }
}

.main-banner {
    float: left;
    width: abs($number: 100%);
}