.top-videos {
    .content-container {
        @include sectionColor(topvideo);
        .content {

            a {
                &:hover {
                    img {
                        transform: translate(0px, -10px) scale(1.02);

                    }
                }

                img {
                    transition: all .3s ease-in-out // transform: translate(-5px, -5px);
                }
            }
        }
    }
}

.worksheets {
    .content-container {
        @include sectionColor(worksheet);

        .col-md-6 {
            text-align: center;

            img {
                margin-bottom: abs($number: 15px);
            }
        }
    }
}


.shopping {
    .content-container {
        @include sectionColor(shopping);

        .col-md-6 {
            text-align: center;

            img {
                margin-bottom: abs($number: 20px);
            }
        }
    }
}

.games {
    .content-container {
        @include sectionColor(games);

        .col-md-6 {
            text-align: center;

            img {
                margin-bottom: abs($number: 20px);
            }
        }
    }
}

.music {
    .content-container {
        @include sectionColor(music);

        .col-md-6 {
            text-align: center;

            img {
                margin-bottom: abs($number: 20px);
            }
        }
    }
}

.companyInfo {

    .aboutUs,
    .ourTeam,
    .ourMission {
        text-align: center;
        color: #fff;

        .card-body {
            padding: abs($number: 4.2rem) abs($number: 2rem);
            @media #{$xl} {
                padding-bottom: abs($number:2rem);
            }

        }

        .card-title {
            font-family: $ifc;
            font-weight: bold;
            font-size: abs($number: 2rem);
            margin-bottom: abs($number: 1.8rem);
            @media #{$xl} {
                margin-bottom: abs($number: 10px);
            }
        }

        .card-text {
            color: $white;
            font-size: abs($number: 23px);
            font-family: $robo;
            line-height: abs($number: 30px);

            @media #{$xl} {
                font-size: abs($number: 18px);
            }

        }

        .card-footer {
            border: abs($number: $null);
            margin-top: abs($number: 30px);
            background: transparent;
            margin-bottom: abs($number: 20px);
            @media #{$xl} {
                margin-top: abs($number:0);
            }
            a {
                background-image: url(../images/read-more-bg.png);
                background-repeat: no-repeat;
                display: inline-block;
                padding: abs($number: 1.7rem) abs($number: 2.1rem);
                font-family: $ifc;
                font-size: abs($number: 30px);
                text-decoration: none;
            }
        }
    }

    .aboutUs {
        background-color: #793efd;

        .card-footer {
            a {
                color: #793efd;
            }
        }
    }

    .ourTeam {
        background-color: #fac005;
        position: relative;

        &:before {
            position: absolute;
            left: $null;
            top: $null;
            background-image: url(../images/vertical-border.jpg);
            background-repeat: repeat-y;
            height: abs($number: 100%);
            width: abs($number: 20px);
            content: '';
        }

        &:after {
            position: absolute;
            right: $null;
            top: $null;
            background-image: url(../images/vertical-border.jpg);
            background-repeat: repeat-y;
            height: abs($number: 100%);
            width: abs($number: 20px);
            content: '';
        }

        .card-footer {
            a {
                color: #fac005;
            }
        }
    }

    .ourMission {
        background-color: #1bbfec;

        .card-footer {
            a {
                color: #1bbfec;
            }
        }
    }
}

.support {
    .content-container {
        @include sectionColor(support);

        .col-md-6 {
            text-align: center;

            img {
                margin-bottom: abs($number: 20px);
            }
        }

        h5 {
            color: $primary;
            font-family: $ifc;
            font-size: abs($number: 52px);
            font-weight: bold;
            text-align: left;
            @include fullwidth();
            margin-top: abs($number: 50px);

            @media #{$xl} {
                font-size: abs($number: 45px);
                text-align: left;
            }

            @media #{$md} {
                font-size: abs($number: 30px);
                text-align: center;
            }
        }

        .testimonialSlider {
            @include fullwidth();

            p {
                position: relative;
                border: solid abs($number: 4px) $primary;
                border-radius: abs($number: 30px);
                max-width: abs($number: 500px);
                padding: abs($number: 48px);
                font-size: abs($number: 23px);
                color: $white;
                font-family: $robo;
                background-color: #3952ac;
                text-align: left;

                @media #{$md} {
                    display: inline-block;
                    float: none;
                }

                &:before {
                    background-image: url(../images/left-top-testimonial.png);
                    position: relative;
                    left: abs($number: 16px);
                    top: abs($number: 16px);
                    width: abs($number: 30px);
                    height: abs($number: 27px);
                    content: '';
                    position: absolute;
                }

                &:after {
                    background-image: url(../images/bottom-testimonial.png);
                    position: relative;
                    right: abs($number: 16px);
                    bottom: abs($number: 16px);
                    width: abs($number: 30px);
                    height: abs($number: 27px);
                    content: '';
                    position: absolute;
                }
            }

            em {
                color: $primary;
                font-size: abs($number: 25px);
                font-family: $robo;
                padding-top: abs($number: 20px);
                @include fullwidth();
                max-width: abs($number: 500px);
                position: relative;

                &:before {
                    width: abs($number: $null);
                    height: abs($number: $null);
                    border-style: solid;
                    border-width: abs($number: 22px) abs($number: 17px) abs($number: $null) abs($number: 17px);
                    border-color: $primary transparent transparent transparent;
                    position: absolute;
                    left: 50%;
                    top: -50%;
                    content: ''; 
                    transform: translate(-50%, 10px)
                }
            }

        } 
    }
}

.slider-conta {
    padding: abs($number: 4.5rem) abs($number: $null);

    .cd-h-timeline__events {
        border-bottom: solid abs($number: 2px) #fff;
        text-align: center;

        img {
            // height: 432px;
            object-fit: cover;
        }

        h5 {
            color: $white;
            font-size: abs($number: 33px);
            font-family: $ifc;
            margin-bottom: abs($number: 20px);
        }

        p {
            color: $white;
            font-size: abs($number: 25px);
            font-family: $roboc;
            margin-bottom: abs($number: $null);

            @media #{$sm} {
                font-size: abs($number: 18px);
            }

            a {
                text-decoration: underline;
                color: #fff;
                display: inline-block;
                margin-top: abs($number: 25px);
                font-size: abs($number: 17px);
                margin-bottom: abs($number: 15px);
            }
        }
    }

}

.get-contact {
    background: #630460;
    // display: flex;
    height: abs($number: $full);
    width: abs($number: $full);
    padding: abs($number: 4.5rem) abs($number: 8rem);
    @media #{$xl} {
        padding: abs($number: 4rem);
    }
    @media #{$sm} {
        padding: abs($number: 1.5rem);
    }

    h5 {
        float: left;
        width: abs($number: $full);
        color: $white;
        font-family: $ifc;
        text-align: left;
        font-size: abs($number: 33px);
        margin-bottom: abs($number: 20px);

        @media #{$sm} {
            text-align: center;
        }
    }

    p {
        color: $white;
        font-size: abs($number: 22px);
        font-family: $robo;

        @media #{$xl} {
            line-height: abs($number: 32px);
            font-size: abs($number: 19px);
        }
        @media #{$sm} {
            font-family: $robo;
            font-size: abs($number: 18px);
            text-align: center;
        }

        a {
            color: #ffd217;
            border-right: solid 2px #ffd217;
            padding: abs($number: $null) abs($number: 10px);
            float: left;
            text-decoration: none;
            @media #{$xl} {
                line-height: abs($number: 19px);
            }
            @media #{$sm} {
                border: abs($number: $null);
                text-align: center;
                width: abs($number: $full);
            }

            &:first-child {
                padding-left: abs($number: $null);
            }

            &:last-child {
                padding-right: abs($number: $null);
                border-right: abs($number: $null);
            }
        }
    }

    button {
        &.button {
            // background-image: url(../images/read-more-bg.png);
            background-color: $primary;
            width: abs($number: 205px);
            height: abs($number: 75px);
            font-size: abs($number: 30px);
            border-radius: abs($number: 5px);
            color: #630460;
            font-family: $ifc;
            border: abs($number: $null);
            line-height: abs($number: 75px);
            transition: all .3s ease-in-out;

            &:hover {
                background-color: $sky;
                color: $white
            }
        }
    }

    .box-container {
        @include fullwidth();
        position: relative;

        &:before {
            // content: '';
            float: left;
            width: abs($number: 23px);
            height: abs($number: 64px);
            background: url(../images/input-border.png);
        }

        &::after {
            // content: '';
            float: right;
            width: abs($number: 23px);
            height: abs($number: 64px);
            background: url(../images/input-border-right.png);
        }

        &.textarea {
            &:before {
                background: url(../images/left-textarea-border.png);
                height: abs($number: 130px);
                width: abs($number: 25px);
            }

            &::after {
                background: url(../images/right-textarea-border.png);
                height: abs($number: 130px);
                width: abs($number: 25px);
            }

            .form-control {
                height: abs($number: 130px);
                width: calc(100% - 50px);
            }
        }

        .form-control {
            width: calc(100% - 46px);
            float: left;
            background: transparent;
            border: abs($number: $null);
            height: abs($number: 64px);
            line-height: normal;
            border: solid abs($number: 1px) #fff;
            border-radius: abs($number: 7px);
            // border-bottom: solid 3px #fff;
            font-family: $roboc;
            font-size: abs($number: 20px);
            color: $white;
            margin-bottom: abs($number: 20px);
            padding: abs($number: 10px) abs($number: 15px);
            margin-bottom: abs($number: 25px);

            // text-transform: uppercase;
            @media #{$sm} {
                font-size: abs($number: 18px);
                font-family: $robo;
                text-transform: capitalize;
            }

            &:focus {
                outline: none;
                box-shadow: abs($number: $null) abs($number: $null) abs($number: $null);
            }
        }



    }
}

.js .carousel-indicators {
    display: inline-block;
    text-align: center;
}

.carousel-control-next {
    opacity: 1;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=1);
    /* IE6-9 */
    width: 7%;
}

.carousel-control-prev {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
    opacity: 1;
    width: 7%;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
    /* IE6-9 */
}

.js .carousel-indicators li {
    float: none;
    width: abs($number: 30px);
    display: inline-block;
}

.js .cd-h-timeline__date {
    @media #{$sm} {
        font-size: abs($number: 18px);
    }
}

.navbar-toggler {
    background-color: #d20959;
    padding: abs($number: 8px) abs($number: 15px);

    i {
        color: #fff;
    }
}